{
	"segments": {
		"left": [
			{
				"function": "powerline.segments.common.net.hostname",
				"priority": 10
			},
			{
				"function": "powerline.segments.common.env.user",
				"priority": 30
			},
			{
				"function": "powerline.segments.common.env.virtualenv",
				"priority": 50
			},
			{
				"function": "powerline.segments.shell.cwd",
				"priority": 10
			}{% if powerline_shell_vcs_branch %},
			{
				"function": "powerline.segments.common.vcs.branch",
				"priority": 40
			}
{% endif %}
		]
	}
}
